.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  color: "Open Sans", sans-serif;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.bro {
  border: 1px solid orange;
}

.brg {
  border: 1px solid green;
}

.active {
  color: #18a0fb;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .hero .container {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.logo {
  text-align: center;
  display: block;
  min-width: 100px;
  font-family: "Raleway", sans-serif;
  color: #212121;
  font-weight: bold;
  letter-spacing: 0.03em;
}

.logo__span {
  color: #18a0fb;
}

.logo--white {
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.666;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header .container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width) {
  .header .container {
    width: 480px;
  }
}

@media screen and (max-width: 767px) {
  .header .container {
    min-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header .container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767) {
  .header__nav {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    margin: 0;
    padding: 0;
    border: none;
    margin-left: auto;
  }
  .menu-button .icon-menu-close {
    display: none;
  }
  .menu-button.is-open .icon-menu-close {
    display: block;
  }
  .menu-button.is-open .icon-menu-open {
    display: none;
  }
  .menu__svg {
    display: block;
    background-color: #ffffff;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__svg:hover, .menu__svg:focus {
    fill: #2196f3;
  }
  .icon-menu-close:hover {
    fill: #2196f3;
  }
  .menu-container {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 101%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-left: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 85px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation__list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 767px) {
  .navigation__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  position: relative;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navigation__link {
    font-size: 18px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    line-height: 1.142;
  }
}

.navigation__link:hover, .navigation__link:focus {
  color: #18a0fb;
  fill: #18a0fb;
}

.navigation__link.active::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #18a0fb;
  border-radius: 2px;
}

.header-contacts {
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .header-contacts__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px), screen and (min-width: 1200px) {
  .header-contacts__svg {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__svg {
    margin-right: 8px;
  }
}

.header-contacts__link {
  display: inline-flex;
  align-items: center;
  color: #757575;
  fill: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .header-contacts__link {
    font-size: 18px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__link {
    font-size: 12px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
    line-height: 1.142;
  }
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: #18a0fb;
  fill: #18a0fb;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer__logo {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__address {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .footer-contacts {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts .separation {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts .separation {
    justify-content: space-around;
  }
}

.footer-contacts__map {
  color: #ffffff;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contacts__map, .footer-contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-contacts__map:hover, .footer-contacts__map:focus, .footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #18a0fb;
}

.join {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .join {
    padding-top: 5px;
  }
}

.join__title {
  color: #ffffff;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join__list {
  display: flex;
  justify-content: center;
}

.join__item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  fill: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  background-color: #18a0fb;
}

.newsletter {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .newsletter {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .newsletter {
    padding-top: 5px;
  }
}

.newsletter__label {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.newsletter__input {
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .newsletter__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__input {
    width: 358px;
    margin-right: 12px;
  }
}

.newsletter__btn {
  margin: 0 auto;
}

.newsletter__svg {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .newsletter__wrapper {
    display: flex;
  }
}
/*# sourceMappingURL=portfolio.css.map */