.basis {
  &__section {
    padding-top: 94px;
    padding-bottom: 47px;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    flex-basis: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__subject {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    &::before {
      display: block;
      content: "";
      width: 270px;
      height: 120px;
      background-color: #f5f4fa;
      border-radius: 4px;
      margin-bottom: 30px;
    }
  }

  &__item:nth-child(1) &__subject::before {
    background-image: url(../images/svg/Group.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__item:nth-child(2) &__subject::before {
    background-image: url(../images/svg/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__item:nth-child(3) &__subject::before {
    background-image: url(../images/svg/diagram.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__item:nth-child(4) &__subject::before {
    background-image: url(../images/svg/astronaut.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__description {
    margin: 0;
    padding: 0;
    color: $description-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
}
