.header {
  border-bottom: 1px solid #ececec;

  &__logo {
    margin-right: 93px;
  }

  &-contacts {
    font-style: normal;
    margin-left: auto;

    &__list {
      display: flex;
      text-align: center;
      align-items: center;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }

    &__link {
      display: flex;
      align-items: center;
      color: $description-color;
      fill: $description-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.02em;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: $accent-color;
        fill: $accent-color;
      }
    }
    &__svg {
      margin-right: 10px;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-title-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }
  &__link.active::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
