.team {
  &__section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__subject {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
  }

  &__description {
    margin: 0;
    margin-bottom: 16px;
    color: $description-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
  }
}
